*~
*.suo
*.user
Bin/
ClientBin/
Generated_Code/
HubSEDocuments/
**/DatabaseGeneric/EntityClasses/
**/DatabaseGeneric/FactoryClasses/
**/DatabaseGeneric/HelperClasses/
**/DatabaseGeneric/TypedListClasses/
**/DatabaseGeneric/TypedViewClasses/
**/DatabaseGeneric/RelationClasses/
**/DatabaseGeneric/ConstantsEnums.cs
**/DatabaseGeneric/Linq/
**/DatabaseSpecific/*.cs
bin/
obj/
approot/
base/x64/
csx/
rcf/
.sonarqube/
*log.txt*
node_modules/
_ReSharper*
node_modules/
*.swp
csx/
*.log
src/TheHub.Entities.llblgenproj.orig
update DDL/
*.svclog
*.7z
.vs/
*.publishsettings
*.orig
**/wasm/netstandard2.0
